.iseTitleBar {
    color: #CB772F;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #A9B7C6;
}

.titleBarActive {
    backgroundColor: #323232;
    height: 15px;
}

.editorWrapper {
    padding-bottom: -15px;
    height: 100%;
    border: 2px solid red;
}

.height100 {
    height: 100%;
}

.editor {
    height: 100%;
}